
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}



#logo img {
    width: 50px;
    height: auto;
    margin-left: 20px;
}

ul a{
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

a:hover{
    color: rgb(2, 27, 255);
}

nav input{
    padding: 10px;
    margin-right:  20px; 
    border: 1px solid black;
    border-radius: 2px;
}